@tailwind base;
@tailwind components;
@tailwind utilities;

.videos::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 4px 10px;
  color: #ffffff;
  background: #f51997;
  border-radius: 1rem;
  box-shadow: 0 4px 24px -6px #1a88f8;
}

@media (max-width: 600px) {
  .btn {
    width: 180px;
  }
}
